[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
biopython = "*"
pandas = "*"
matplotlib = "*"
scikit-learn = "*"
wordcloud = "*"
gensim = "*"
seaborn = "*"
ipykernel = "*"
nltk = "*"
unidecode = "*"
pyldavis = "*"
networkx = "*"
spacy = "*"
download = "*"
xgboost = "*"

[requires]
python_version = "3.8"
